<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.ssm.mapper.VacationMapper">

    <sql id="VACATION">
        v.id,
        v.vacation_time,
        v.end_time,
        q.user_name AS vacation_name,
        u.user_name AS approve_name,
        v.status
    </sql>


    <select id="findAll" resultType="com.dj.ssm.pojo.Vacation">
        select <include refid="VACATION"/> FROM
        vacation v
        INNER JOIN user u ON v.user_approve_id = u.id
        INNER JOIN user q on q.id = v.user_vacation_id
    </select>

    <sql id="vacation">
		id, vacation_time, end_time, user_vacation_id, user_approve_id, status
	</sql>
    <insert id="addVacateExp">
        insert into
        vacation (vacation_time, end_time, user_vacation_id, user_approve_id, status)
        values (#{vacationTime}, #{endTime}, #{userVacationId}, null, 0)
    </insert>

    <select id="findByExp" resultType="com.dj.ssm.pojo.ExpQuery">
        SELECT
            v.vacation_time,v.end_time,u.user_name AS userName, s.user_name AS approveUserName,v.status
        FROM
            vacation v
        LEFT JOIN `user` u ON u.id = v.user_vacation_id
        LEFT JOIN `user` s ON s.id = v.user_approve_id
        WHERE u.id = #{id}
    </select>
    <select id="findByExpId" resultType="com.dj.ssm.pojo.Vacation">
        select id, vacation_time, end_time, user_vacation_id, user_approve_id, status from vacation where id = #{id};
    </select>
</mapper>